@import "reset.scss";
@import "fonts.scss";

//variables
$color-dark-gray: #333333;
$color-gray: #BDBDBD;
$color-light-gray: #F9F9F9;
$color-verylight-gray: #F2F2F2;
$color-midle-gray: #C8C8C8;
$color-almost-white: #F3F3F3;
$color-snow-white: #FBFBFB;
$color-black: #000000;
$color-white: #FFFFFF;
$color-yellow: #ffee10;
$color-blue: rgb(35, 35, 145);
$color-light-blue: rgb(147, 174, 209);
$placeholder-color: #8D8D8D;
$footer-color: #2C2C2C;


//mixins
@mixin text ($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

@mixin button {
    width: 222px;
    height: 71px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 30px 50px;
    border: none;
    text-align: center;
}

@mixin button-hover {
    box-shadow:0 50px 35px 10px rgba(0,0,0,0.3);
    transform: translateY(-15px);
    transform: scaleY(1);
}

body {
    font-family: 'TT Hoves', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: $color-black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

h1 {
    @include text(64px, 64px);
    font-weight: 300;
    color: $color-gray;
}

//Header part

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top:30px;
    .header-list {
        display: flex;
        .header-item {
            margin-right: 60px;
            &:last-child {
                margin-right: 134px;
            }
            &:first-child {
                border-top: 1px solid $color-dark-gray;
                border-bottom: 1px solid $color-dark-gray;
                &:hover {
                    border: none;
                }
            }
            .header-link {
                @include text(12px, 12px);
                color: $color-dark-gray;
                text-decoration: none;
                padding-top: 4px;
                padding-bottom: 4px;
                &:hover {
                    border-top: 1px solid $color-dark-gray;
                    border-bottom: 1px solid $color-dark-gray;
                }
            }
        }
    }
}

// Intro-container
.intro-container {
    padding-top: 30px;
    padding-bottom: 60px;
.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .intro-text {
        .intro-title {
            padding-bottom: 45px;
           .bold {
            font-weight: bold;
            color: $color-dark-gray;
            } 
        }
        
        .intro-button {
            padding: 45px 0;
            button {
                border: 1px solid $color-verylight-gray;
                width: 53px;
                height: 53px;
                cursor: pointer;
                &:hover {
                    border-color: $color-blue;
                    background-color: $color-light-blue;
                }
            }
            
            .previous-btn {
                background-color: $color-white;
                margin-right: 22px;
                .arrow-right {
                    position: relative;
                    &:before {
                        content: "";
                        display: block;
                        margin-right: 10px;
                        width: 8px;
                        height: 8px;
                        border-top: 1px solid $color-dark-gray;
                        border-right: 1px solid $color-dark-gray;
                        transform: rotate(225deg);
                        position: absolute;
                        left: 26%;
                        top: -3px;
                    }
                      
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 17px;
                        height: 1px;
                        background-color: $color-dark-gray;
                        left: 26%;
                    }

                }
            }

            .next-btn {
                background-color: $color-light-gray;
                .arrow-left {
                    position: relative;  
                    &:before {
                      content: "";
                      display: block;
                      margin-right: 10px;
                      width: 8px;
                      height: 8px;
                      border-top: 1px solid $color-dark-gray;
                      border-right: 1px solid $color-dark-gray;
                      transform: rotate(45deg);
                      position: absolute;
                      left: 50%;
                      top: -3px;
                    }
                    
                    &:after {
                      content: "";
                      display: block;
                      position: absolute;
                      width: 17px;
                      height: 1px;
                      background-color: $color-dark-gray;
                      left: 26%;
                    }
                }
            }

            span {
                content: "";
                position: absolute;
                width: 50%;
                height: 0px;
                top: 550px;
                border: 1px solid $color-verylight-gray;
                transform: rotate(180deg);
            }
            @media screen and (max-width: 1169px) {
                span {
                    display: none;
                }
            }
        
        }
        .intro-date {
            padding: 45px 0;
            a {
                @include text(24px, 24px);
                color: $color-gray;
                font-weight: 400;
            }
            .line {
                font-size: 40px;
                font-weight: 100;
                transform: rotate(45deg);
                padding: 0 25px;
            }
        }
    }

    .intro-img {
        position: relative;
        img {
            width: 770px;
            height: 829px;
        }
        .btn {
            position: absolute;
            left: 0px;
            bottom: 0px;
            background-color: $color-white;
            color: $color-dark-gray;
            @include text(12px, 12px);
            @include button;
            &:hover {
                background-color: $color-dark-gray;
                color: $color-white;
                @include button-hover;
                .arrow-left {
                    &:before {
                      border-top: 1px solid $color-white;
                      border-right: 1px solid $color-white;
                    }
                    
                    &:after {
                      background-color: $color-white;
                    }
                } 
            }
            .arrow-left {
                position: relative;

                &:before {
                  content: "";
                  display: block;
                  width: 8px;
                  height: 8px;
                  border-top: 1px solid $color-dark-gray;
                  border-right: 1px solid $color-dark-gray;
                  transform: rotate(45deg);
                  position: absolute;
                  right: -10px;
                  top: -11px;
                }
                
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 17px;
                  height: 1px;
                  background-color: $color-dark-gray;
                  right: -9%;
                  top: -8px;
                }
            }
        }
    }
}
}

//About company-container

.company-container {
    background-color: $color-snow-white;
    display: flex;
    margin-top: 60px;
    padding: 30px 100px 30px 70px;
    flex-wrap: wrap;
    .row {
        display: flex;
        flex: 1;
        .column {
                padding-top: 30px;
                padding-right: 30px;
                &:first-child {
                    padding-top: 0;
                }
                img {
                    width: 240px;
                    &:hover {
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                    }
                }
                .rectangle {
                    margin-top: 30px;
                }
            }
    }
    .company-text {
        flex: 1;
        h1 {
            text-transform: none;
            margin-bottom: 20px;
        }
        p {
            line-height: 25px;
            text-transform: none;
            font-weight: 300;
            margin-bottom: 20px;
        }
        .btn {
            @include button;
            background-color: $color-white;
            color: $color-dark-gray;
            @include text(12px, 12px);
            &:hover {
                background-color: $color-dark-gray;
                color: $color-white;
                @include button-hover;
                .arrow-left {
                    &:before {
                      border-top: 1px solid $color-white;
                      border-right: 1px solid $color-white;
                    }
                    
                    &:after {
                      background-color: $color-white;
                    }
                }
            }
            .arrow-left {
                position: relative;
                &:before {
                  content: "";
                  display: block;
                  width: 8px;
                  height: 8px;
                  border-top: 1px solid $color-dark-gray;
                  border-right: 1px solid $color-dark-gray;
                  transform: rotate(45deg);
                  position: absolute;
                  right: -10px;
                  top: -11px;
                }
                
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 17px;
                  height: 1px;
                  background-color: $color-dark-gray;
                  right: -9%;
                  top: -8px;
                }
              }
        }
    }
}

//Main tasks part

.task-container {
    padding: 60px 0;
    text-transform: none;
    h1 {
        margin-bottom: 62px;
    }
    .main-task {
        display: flex;
        align-items: center;
        .task-one, .task-two  {
            display: flex;
            align-items: center;
        }
        .task-one {
            p {
                padding-right: 150px;
            }
        }
        span {
            font-family: 'San Francisco Proy', sans-serif;
            font-weight: 900;
            @include text(200px, 239px);
            color:$color-verylight-gray;
            }
        p {
            color: $color-dark-gray;
            @include text(22px, 36px);
            padding-left: 30px;
        }
    }
}

// Project part

.project-container {
    padding: 60px 0;
    h1 {
        text-transform: none;
        margin-bottom: 30px;
    }
    button {
        float: right;
        @include button;
        @include text(12px, 12px);
        background-color: $color-dark-gray;
        color: $color-white;
        &:hover {
            background-color: $color-light-gray;
            color: $color-black;
            border: 1px solid $color-black;
            .arrow-left {
                &:before {
                  border-top: 1px solid $color-dark-gray;
                  border-right: 1px solid $color-dark-gray;
                }
                
                &:after {
                  background-color: $color-dark-gray;
                }
            }
        }
        .arrow-left {
            position: relative;
            
            &:before {
              content: "";
              display: block;
              width: 8px;
              height: 8px;
              border-top: 1px solid $color-white;
              border-right: 1px solid $color-white;
              transform: rotate(45deg);
              position: absolute;
              right: -20px;
              top: -11px;
            }
            
            &:after {
              content: "";
              display: block;
              position: absolute;
              width: 17px;
              height: 1px;
              background-color: $color-white;
              right: -17%;
              top: -8px;
            }
        }
    }
    .project-img {
        .row-image {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 30px
        }
        img {
            height: 255px; 
            &:last-child {
                padding-right: 0;
            }
        }
    }
// For hover image 

.project-content{
	position: relative;
	max-width: 700px;
	margin: auto;
	overflow: hidden;
	.content-overlay {
		background: rgba(0,0,0,0.7);
		position: absolute;
		height: 99%;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		-webkit-transition: all 0.4s ease-in-out 0s;
		-moz-transition: all 0.4s ease-in-out 0s;
		transition: all 0.4s ease-in-out 0s;
	}
	&:hover {
		.content-overlay {
			opacity: 1;
		}
		.content-details {
			top: 50%;
			left: 50%;
			opacity: 1;
		}
	}
}
.content-details {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
    padding: 48px 78px 78px 78px;
	h1 {
		color: $color-white;
		font-weight: 700;
        text-align: start;
        margin-bottom: 0;
	}
    button {
       background-color: transparent;
       width: auto;
       height: auto;
       float: left;
       padding: 8px 0;
       letter-spacing: 0.2em;
       &:hover {
           border: none;
           color: $color-white;
           font-weight: bolder;
           .arrow-left {
                &:before {
                border-top: 1px solid $color-light-gray;
                border-right: 1px solid $color-light-gray;
                }  
                &:after {
                background-color: $color-light-gray;
                right: -20%;
                }
        }
       }
       .arrow-left {
            &:after {
            right: -21%;
            }
      }
    }
}
.fadeIn-bottom {
	top: 80%;
}
  
}

// Contact part 

.contact-container {
    text-transform: none;
    padding: 60px 0;
    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 22px 0;
        form {
            flex: 1;
            fieldset {
                border: medium none !important;
                min-width: 100%;
                padding: 0 30px 10px 0;
                width: 100%;
                &:last-child {
                    padding-bottom: 0;
                }
            }
            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="url"],
            textarea {
                width: 100%;
                border: none;
                padding: 14px 0 15px 21px;
                background-color: $color-almost-white;
                &:hover {
                    -webkit-transition: border-color 0.3s ease-in-out;
                    -moz-transition: border-color 0.3s ease-in-out;
                    transition: border-color 0.3s ease-in-out;
                    border: 1px solid #aaa;
                }
                &::placeholder { /* Chrome/Opera/Safari */
                    @include text(14px, 17px);
                    letter-spacing: 0.04em;
                    color: $placeholder-color;
                    font-family: 'TT Hoves', sans-serif;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    @include text(14px, 17px);
                    letter-spacing: 0.04em;
                    color: $placeholder-color;
                    font-family: 'TT Hoves', sans-serif;
                  }
                &:-ms-input-placeholder { /* IE 10+ */
                    @include text(14px, 17px);
                    letter-spacing: 0.04em;
                    color: $placeholder-color;
                    font-family: 'TT Hoves', sans-serif;
                  }
                &:-moz-placeholder { /* Firefox 18- */
                    @include text(14px, 17px);
                    letter-spacing: 0.04em;
                    color: $placeholder-color;
                    font-family: 'TT Hoves', sans-serif;
                  }
            }
            textarea {
                height: 150px;
                max-width: 100%;
                resize: none;
              }
        }
    
        p {
            color:$color-dark-gray;
            @include text (14px, 17px);
            letter-spacing: 0.03em;
            padding: 22px 0 21px 40px;
        }
        button {
            @include button;
            @include text(12px, 12px);
            background-color: $color-dark-gray;
            color: $color-white;
            &:hover {
                background-color: $color-light-gray;
                color: $color-black;
                border: 1px solid $color-black;
                @include button-hover;
                .arrow-left {
                    &:before {
                      border-top: 1px solid $color-dark-gray;
                      border-right: 1px solid $color-dark-gray;
                    }
                    &:after {
                      background-color: $color-dark-gray;
                    }
                }
            }
            .arrow-left {
                position: relative; 
                &:before {
                  content: "";
                  display: block;
                  width: 8px;
                  height: 8px;
                  border-top: 1px solid $color-white;
                  border-right: 1px solid $color-white;
                  transform: rotate(45deg);
                  position: absolute;
                  right: -20px;
                  top: -11px;
                }
                
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 17px;
                  height: 1px;
                  background-color: $color-white;
                  right: -17%;
                  top: -8px;
                }
            }
        }
    
        .contact-img {
            img {
                width: 100%;
                height: auto;
            }
        }
    }       
}

//Footer part

footer {
    background-color: $footer-color;
    text-transform: none;
    .footer-container {
        padding: 58px 0 60px 0;
        display: flex;
        h3 {
            font-weight: bold;
            @include text (16px, 20px);
            color: $color-white;
            margin-bottom: 9px;
        }
        .footer-logo {
            flex: 1;
        }
        .footer-info {
            flex: 1;
            .footer-link {
                &:hover {
                    text-shadow: 0 0 5px $color-yellow;
                    border-bottom: 1px solid $color-yellow;
                }
            }
        }
        .footer-contact {
            flex: 1;
            svg {
                margin-right: 16px;
            }
        }

        .footer-social {
            flex: 1;
            svg {
                margin-right: 41px;
                margin-top: 23px;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    color:  $color-yellow;
                    box-shadow: 0 0 5px $color-yellow;
                    text-shadow: 0 0 5px $color-yellow;
                }
            }
        }
        .footer-item {
            padding-top: 16px;
        }
        .footer-link {
            text-decoration: none;
            font-weight: 500;
            @include text(14px, 24px);
            letter-spacing: 0.03em;
            color:$color-white;
        }
    }

    .footer-copyright {
        padding: 24px 0; 
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
        span {
            color: rgba(200, 200, 200, 0.5);
            @include text(12px, 22px);
            font-family: 'Open Sans', sans-serif;
        }
    }
}


@media screen and (max-width: 1169px) {
    .wrapper {
        padding: 0 50px;
    }
    .header-logo {
        margin-bottom: 25px;
    }
    .main-task {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 888px) {

    h1 {
        font-size: 32px;
    }

    // Burger part

    .burger {
        display: block;
        position: absolute;
        width: 50px;
        height: 15px;
        top: 50px;
        right: 60px;
        &:before {
            content: '';
            background-color: $color-black;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 0;
        }
        &:after {
            content: '';
            background-color: $color-black;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            bottom: 0;
        }
        span {
            background-color: $color-black;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            top: 6px;
        }

    }

    .burger.active {
        &:before {
            transform: rotate(45deg);
            top: 6px;
            background-color: $color-black;
        }
        &:after {
            transform: rotate(-45deg);
            bottom: 6px;
            background-color: $color-black;
        }
        span {
            transform: scale(0);
        }
    }

    .header-container {
        .header-nav {
            position: fixed;
            top: -150%;
            left: 0;
            width: 100%;
            height: 50%;
            background-color: $color-white; 
            .header-list {
                flex: none;
                -webkit-box-flex: none;
                display: inline;
                .header-item {
                    border:none;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .header-nav.active {
        top: 90px;
        transition: all 0.3s ease 0s;
        left: 30px;
    }

// Intro part 

    .intro-container {
        .intro {
           .intro-img {
            img {
                width: 100%;
                height: auto;
                padding: 0 25px;
                }
            } 
        }
    }

// Project part 

    .project-container {
        button {
            float: left;
        }
        .row-image {
            img {
                width: 100%;
                padding-bottom: 25px;
            } 
        }
    }
    
//Company part

    .company-container {
        background-color: transparent;
        padding: 0;
        .row {
            flex-wrap: wrap;
            img {
                width: auto;
            }
        }
        .company-text {
        .btn {
            border: 1px solid $color-dark-gray;
        }
        }
    }

// Task container

    .task-container {
        .main-task {
         .task-one, .task-two  {
            padding-bottom: 35px;
            flex-wrap: wrap;
            } 
        }
    }

// Contact part

.contact-img {
    display: none;
}

#footer {
    margin: 0;
    padding: 0;
    .footer-container {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        }
    h3 {
        padding-top: 25px;
        text-decoration: underline;
        }
}
}